extends partials/layout
block pageName 
  | index 
block maincontent
  .container
    h1 This is Main Content Pages1
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis doloremque nemo quaerat rerum fugiat ea placeat natus inventore cum, maxime porro deserunt excepturi sed perspiciatis molestiae accusamus, facilis aspernatur quam incidunt iure voluptatibus omnis deleniti! Quis dignissimos molestiae incidunt, tenetur magni, saepe. Ab, iste. Excepturi ipsam rem sapiente cumque ad possimus magni laborum laudantium reiciendis id fugit eaque quasi labore facere voluptas in ducimus consequatur vero sint quisquam, iste vitae dolorem fugiat dolores. Quam, tempore delectus error nobis maxime aperiam earum dicta illo blanditiis consectetur soluta provident modi alias asperiores quia sint cum dolor tempora minus. Fugiat ad, tenetur nostrum.
    img(src="img/mavericks-wallpaper-43.jpg", alt="Mavericks")

block independentJS
  script(src="thispage.js")
block script
  script.
   console.log('test')
