extends partials/layout
append config
  - var jQuery = true
  - var thisBodyClass = bodyClass.push('addBodyClasses')
  - var thisPageTitle = 'Index Page'
  - var title = title.concat(' | ' + thisPageTitle)
  - var blockCSS = false

block independentCSS
  // build:css css/index.min.css
  link(href="css/depencs1.css" rel="stylesheet")
  link(href="css/index.css" rel="stylesheet")
  // endbuild  

block inlineCSS
  :stylus
    body
      font-size 12px

block maincontent
  .container
    h1 This is Main Content Pages1
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis doloremque nemo quaerat rerum fugiat ea placeat natus inventore cum, maxime porro deserunt excepturi sed perspiciatis molestiae accusamus, facilis aspernatur quam incidunt iure voluptatibus omnis deleniti! Quis dignissimos molestiae incidunt, tenetur magni, saepe. Ab, iste. Excepturi ipsam rem sapiente cumque ad possimus magni laborum laudantium reiciendis id fugit eaque quasi labore facere voluptas in ducimus consequatur vero sint quisquam, iste vitae dolorem fugiat dolores. Quam, tempore delectus error nobis maxime aperiam earum dicta illo blanditiis consectetur soluta provident modi alias asperiores quia sint cum dolor tempora minus. Fugiat ad, tenetur nostrum.
    img(src="img/mavericks-wallpaper-43.jpg", alt="Mavericks")

block independentJS
  // build:js js/index.min.js
  script(src="js/depenc1.js")
  script(src="js/index.js")
  // endbuild  

block script
  script.
    console.log('test')
