mixin scriptSources
  if (jQuery)
    if (jQueryV.length && jQueryV != 1)
      script(src="https://code.jquery.com/jquery-#{jQueryV}.js")
    else if (jQueryV === 1)
     script(src="https://code.jquery.com/jquery-1.11.3.js")
    else
      script(src="https://code.jquery.com/jquery-2.1.4.js")
  if (bootStrapJS)
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
  if (jQueryUI)
    script(src="https://code.jquery.com/ui/1.11.4/jquery-ui.js")
  if (jQueryMobile)
    script(src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.js")
  if (colorbox)
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.colorbox/1.6.3/jquery.colorbox-min.js")
  if (d3)
    script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js")
  if (modernizr)
    script(src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")
  if (tweenMax)
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/TweenMax.min.js")

mixin styleSources
  if (normalize)
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css")
  if (bootStrapCSS)
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
  if (bootStrapTheme)
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css")
  if (fontAwesome)
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
  //- other css here
  //- link(rel="stylesheet", href="css/other.css")
