- var title = 'Main-Site-Name'
//- CDN code boolean
- var jQuery = false
- var jQueryV = 2
- var jQueryUI = false
- var jQueryMobile = false

- var normalize = true

- var bootStrapCSS = true
- var bootStrapJS = true
- var bootStrapTheme = false

- var fontAwesome = false

- var d3 = false
- var colorbox = false
- var modernizr = false
- var tweenMax = false

- var bodyClass = ['baseClass', 'desktop']
