//default html text
// rupture.base-font-size = 18px

//PX to EM unit conversion
// rupture.enable-em-breakpoints = true

//+at( 1, 2, 3....), ext at 3 = 600px - 800px
rupture.scale = 0 400px 600px 800px 1050px 1800px
rupture.scale-names = 'xs' 's' 'm' 'l' 'xl' 'hd'

//atleast (min-width)
rupture.mobile-cutoff = 767px
rupture.desktop-cutoff = 991px
