<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Document
body
  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus quaerat ad ut, laborum dolores consequatur, necessitatibus libero autem aliquam quo et, quam, pariatur reiciendis maiores molestias. Ullam eos neque, earum! 
