include var/mixin
include var/variables
doctype
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
  title #{title} - 
    block pageName
  +styleSources
  link(rel="stylesheet", href="css/style.css")
  
body
  include header 
  
  block maincontent

  include footer
  
  +scriptSources
  block independentJS
  script(src="js/script.js")
  block script
